* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  src: url(../fonts/JuicelyDemo/JuicelyDemo.ttf);
  font-family: JuicelyDemo;
}
body {
  max-width: 100vw;
  height: 100vh;
  background-image: url(../images/bg/bg_black.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body .wrapper {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: #121619;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  transition: transform 0.3s linear;
}
header.hide {
  transform: translateY(-50px);
}
header .header-logo-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
header .header-logo-wrapper .header-logo {
  width: 100px;
  height: 50px;
  background-image: url(../images/logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-logo-wrapper .header-logo:hover {
  border-bottom: 1px solid #fac564;
}
header .header-nav-wrapper > ul {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: center;
}
header .header-nav-wrapper > ul .header-nav-link {
  color: white;
  text-decoration: none;
}
header .header-nav-wrapper > ul .header-nav-link:hover {
  border-bottom: 1px solid #fac564;
}

.meals {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 70vh;
  justify-items: center;
  align-items: center;
}
.meals .meals-title {
  display: grid;
  row-gap: 20px;
}
.meals .meals-title h3 {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.meals .meals-title p {
  color: white;
  text-align: center;
}
.meals .meals-menu {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}
.meals .meals-menu > div:nth-child(1) {
  width: 100%;
  height: 100%;
  background-image: url(../images/pizza/pizza-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s linear;
  filter: brightness(1) grayscale(1) opacity(0.5);
}
.meals .meals-menu > div:nth-child(1):hover {
  filter: none;
}
.meals .meals-menu > div:nth-child(3) {
  width: 100%;
  height: 100%;
  background-image: url(../images/pizza/pizza-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s linear;
  filter: brightness(1) grayscale(1) opacity(0.5);
}
.meals .meals-menu > div:nth-child(3):hover {
  filter: none;
}
.meals .meals-menu > div:nth-child(5) {
  width: 100%;
  height: 100%;
  background-image: url(../images/pizza/pizza-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s linear;
  filter: brightness(1) grayscale(1) opacity(0.5);
}
.meals .meals-menu > div:nth-child(5):hover {
  filter: none;
}
.meals .meals-menu > div:nth-child(8) {
  width: 100%;
  height: 100%;
  background-image: url(../images/pizza/pizza-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s linear;
  filter: brightness(1) grayscale(1) opacity(0.5);
}
.meals .meals-menu > div:nth-child(8):hover {
  filter: none;
}
.meals .meals-menu > div:nth-child(10) {
  width: 100%;
  height: 100%;
  background-image: url(../images/pizza/pizza-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s linear;
  filter: brightness(1) grayscale(1) opacity(0.5);
}
.meals .meals-menu > div:nth-child(10):hover {
  filter: none;
}
.meals .meals-menu > div:nth-child(12) {
  width: 100%;
  height: 100%;
  background-image: url(../images/pizza/pizza-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: filter 0.3s linear;
  filter: brightness(1) grayscale(1) opacity(0.5);
}
.meals .meals-menu > div:nth-child(12):hover {
  filter: none;
}
.meals .meals-menu .description-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  display: grid;
}
.meals .meals-menu .description-wrapper > span {
  text-transform: uppercase;
}
.meals .meals-menu .description-wrapper .order-wrapper > span {
  color: #fac564;
}
.meals .meals-menu .description-wrapper .order-wrapper > button {
  margin-left: 10px;
  padding: 5px 15px;
  color: white;
  border: 1px solid white;
  background: transparent;
}
.meals .meals-menu .description-wrapper .order-wrapper > button:hover {
  color: #121619;
  background-color: #fac564;
  cursor: pointer;
  border: 1px solid #fac564;
}

.services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40vh 60vh;
  justify-items: center;
  align-items: center;
  background-image: url(../images/bg/bg_yellow.png);
}
.services .services-titel {
  display: grid;
  row-gap: 20px;
}
.services .services-titel h3 {
  text-transform: uppercase;
  text-align: center;
}
.services .services-titel p {
  text-align: center;
}
.services .services-card {
  width: 50%;
  height: 500px;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr;
}
.services .services-card > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}
.services .services-card > div .image {
  width: 100px;
  height: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.services .services-card > div .image img {
  width: 80px;
  height: 80px;
}
.services .services-card > div .title {
  text-transform: uppercase;
  font-weight: bold;
}
.services .services-card > div > p {
  text-align: center;
}

footer .footer-wrapper {
  padding: 50px 100px;
  background-color: #121619;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 50px;
}
footer .footer-wrapper .footer-wrapper-cards {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 50px;
  align-items: center;
}
footer .footer-wrapper .footer-wrapper-cards .cards-title {
  color: white;
  text-transform: uppercase;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-about {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: flex-end;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-about p {
  color: grey;
  text-align: justify;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-about .icons {
  display: flex;
  justify-content: space-between;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-about .icons .icon_twitter {
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/twitter.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-about .icons .icon_facebook {
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/facebook2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-about .icons .icon_instagram {
  width: 30px;
  height: 30px;
  background-image: url(../images/icons/instagram.png);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-blog {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-blog .recent-blog_element {
  display: grid;
  grid-template-areas: "ddiv pp" "ddiv sspan";
  justify-items: start;
  align-items: center;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-blog .recent-blog_element .recent-blog_image_1 {
  grid-area: ddiv;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-image: url(../images/image_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-blog .recent-blog_element .recent-blog_image_2 {
  grid-area: ddiv;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-image: url(../images/image_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-blog .recent-blog_element .recent-blog_paragraph {
  grid-area: pp;
  color: white;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-blog .recent-blog_element .recent-blog_date {
  grid-area: sspan;
  text-transform: lowercase;
  color: grey;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-services {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-services span {
  font-size: 20px;
  color: grey;
  text-transform: lowercase;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-questions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-questions .have-a-questions_icon-location,
footer .footer-wrapper .footer-wrapper-cards .footer-card-questions .have-a-questions_icon-phone,
footer .footer-wrapper .footer-wrapper-cards .footer-card-questions .have-a-questions_icon-email {
  color: white;
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}
footer .footer-wrapper .footer-wrapper-cards .footer-card-questions .have-a-questions_icon-location img,
footer .footer-wrapper .footer-wrapper-cards .footer-card-questions .have-a-questions_icon-phone img,
footer .footer-wrapper .footer-wrapper-cards .footer-card-questions .have-a-questions_icon-email img {
  width: 20px;
  height: 20px;
  display: inline-block;
}
footer .footer-wrapper .footer-title {
  color: grey;
}